@use '../../styles' as *;


.arrow path{
    width: 5px;
    height: 10px;
}

.arrow-left{
    transform: rotate(-180deg);
}

.arrow-bottom{
    transform: rotate(90deg);
}

.arrow-top{
    transform: rotate(-90deg);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 2px solid $gray-700;
    border-radius: 4px;
    gap: 12px;
    box-sizing: border-box;
    background-color: transparent;
    transition: 0.7s;

    svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        margin: 0;
        color: $gray-700;
        text-transform: uppercase;
    }

    &:hover{
        border: 2px solid $gray-900;
        background-color: $gray-900;

        p{
            color: $red-300;
        }

        .arrow path{
            stroke: $red-300;
        }
    }
}



.buttons-gray{
    display: flex;
    flex-direction: row;
    gap: 16px;

    .button-gray{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid $gray-500;
        transition: .7s;

        svg{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:disabled{
            opacity: 0.7;
        }

        path{
            stroke: $gray-700;
        }
    }

    &:hover{
        .button-gray{
            background-color: $gray-500;
        }
    }
}



.buttons-black{
    display: flex;
    flex-direction: row;
    gap: 16px;
    

    .button-black{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid $black;
        background-color: $black;
        transition: .7s;

        svg{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:disabled{
            opacity: 0.7;

            path {
                opacity: 0.4;
            }
        }

        path{
            stroke: $red-100;
        }
    }

    &:hover{
        .button-black{
            background-color: $gray-900;

        }
    }
}