@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap';

$section-size: 28px;
$section-lh: 34px;

$feed-1-size: 26px;
$feed-1-lh: 30px;

$feed-2-size: 20px;
$feed-2-lh: 24px;

$feed-3-size: 16px;
$feed-3-lh: 22px;

$feed-4-size: 14px;
$feed-4-lh: 19px;

$hat-size: 12px;
$hat-lh: 16px;