@use '../../styles' as *;

.card{
    background-color: $gray-300 !important;
    border: none !important;
    width: 209px;
    height: 269px;
    padding: 22px;
    gap: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.7s;
    cursor: pointer;

    .card-content{
        display: none;

        .subtitle{
            font-size: $feed-4-size;
            line-height: $feed-4-lh;
            color: $red-700;
        }

        .title{
            font-size: $feed-2-size;
            line-height: $feed-2-lh;
            color: $gray-900;
        }

        text{
            font-size: $feed-3-size;
            line-height: $feed-3-lh;
            color: $gray-700;
        }
    }

    .card-profile{
        width: 165px;

        .picture{
            background-color: $gray-400;
            border-radius: 8px;
            width: 165px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        
            img{
                width: auto;
            }
        }
    
        .name{
            text-align: center;
        }
    }

    @include media-breakpoint-up(sm){
        &:hover{
            width: 818px;
            .picture{
                background-color: $highlight;
            }
            .name{
                color: $red-700;
            }
    
            .card-content{
                display: block;
            }
            
        }
    }
    
}

