@use '../../styles' as *;

.img-play svg{
    height: 33px;
    width: 33px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-video{
    background-color: $gray-800;
    max-width: 327px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    

    .card-img{
        background-image: url('../../assets/img/bannerPlayer.svg');
        width: 100%;
        height: 204px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        transition: .7s;

        .comments-box{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .comments{
                width: 75px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 16px;
                
                
                p{
                    font-size: $feed-4-size;
                    line-height: $feed-4-lh;
                    color: $red-100;
                }
            }
        }
    }

    .card-about{
        padding: 16px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title{
            font-size: $hat-size;
            line-height: $hat-lh;
            color: $red-300;
        }

        .text{
            font-size: $feed-3-size;
            line-height: $feed-3-lh;
            color: $white;
        }
    }

    &:hover{
       .card-img{
            border: 5px solid $red-300;
       }
        .img-play path{
            fill: $red-300;
        }
    }
}

.banner-card-video{
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url('../../assets/img/bigbanner.svg');
    border-radius: 8px;
    background-size: cover;
    background-position: 5px;
    background-repeat: no-repeat;
    transition: .7s;
    cursor: pointer;

    &:hover{
        border: 5px solid $red-300;

        .img-play path{
            fill: $red-300;
        }        
    }

    .img-play svg{
        margin: 16px 0; 
    }

     .title-pricipal-banner{
        font-size: $hat-size;
        line-height: $hat-lh;
        color: $red-300;
     }

     .text-principal-banner{
        font-size: $feed-1-size;
        line-height: $feed-1-lh;
        color: $white;
     }

     .info-banner-card-video{
        display: flex;
        height: 642px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin: 0 0 22px 16px;
     }
}
