@use './styles' as *;

.banner{
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    padding: 16px;
    background-image: $black-gradient;

    @include media-breakpoint-down(sm){
        max-height: 900px;
    }

    .header{
        background-color: $gray-800;
        padding: 16px 16px 16px 22px;
        gap: 1009px;
        border-radius: 8px;
        width: 100%;
        z-index: 9999999;
        margin-top: -58px;
    }

    .item-videos{
        padding: 32px 0;
    }
}

.margin-y {
    margin: 0 10px;
}

.title{
    font-size: $section-size;
    line-height: $section-lh;
    color: $red-300;
    margin: 0;
    text-transform: uppercase;
 }

.writers{
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    padding: 16px;
    background-color: $white;

    .writers-header{
        display: flex;
        justify-content: center;
        align-items: center;

        .writers-title{
            padding: 16px 16px 16px 22px;
            width: 100%;
            height: 92px;
            background: $gray-300;
            border-radius: 8px;
        }
    }
    .writers-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .writers-items{
            width: 100%;

            .slick-slide {
                margin-left: 27px;
            }
        }
    }
}


